body {
    margin: 0;
    font-family: sans-serif;
}
header {
    display: flex;
    align-items: center;
    background-color: #eeeeee;
    padding: 10px;
}
header .logo {
    font-family: monospace;
    font-size: 25px;
}
header .user-box {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}
header .user-box img {
    width: 30px;
    height: 30px;
    border: 1px solid #cccccc;
    border-radius: 50%;
}
header .user-box .name {
    margin-top: 0;
    margin-bottom: 0;
}

.login-buttons-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    margin: 50px auto 0;
}
.login-buttons-container a {
    border: 1px solid #cccccc;
    padding: 10px;
    text-decoration: none;
    color: #000000;
}
.login-buttons-container a:hover {
    color: #0000ff;
    border: 1px solid #0000ff;
}

.logout-button {
    border: 1px solid #aaaaaa;
    padding: 5px 10px;
    margin-left: 10px;
    color: #000000;
    text-decoration: none;
}
.logout-button:hover {
    color: #0000ff;
    text-decoration: none;
}

.content-area {
    padding: 10px;
}
.content-area h1 {
    text-align: center;
}

.cms-wrapper-1 {
    display: flex;
    height: calc(100vh - 52px);
}
.cms-wrapper-2 {
    flex: 1;
}
.toolbar-1 {
    background-color: #dbdbdb;
    display: flex;
    justify-content: center;
    gap: 10px;
    /*padding: 10px;*/
}
.toolbar-1-main-item-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.toolbar-1-page-list {
    background-color: #eeeeee;
}
.toolbar-1 a {
    font-family: monospace;
    font-size: 0.8rem;
    color: #000000;
    border: 1px solid #888888;
    padding: 5px 10px;
    text-decoration: none;
}
.toolbar-1 a:hover {
    color: #0000ff;
    border: 1px solid #0000ff;
}
.toolbar-2 {
    background-color: #0049a3;
    color: #ffffff;
    padding: 5px 10px;
}
.toolbar-2 a,
.toolbar-2 span {
    color: #ffffff;
}
.edit-form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.edit-form .text-editor {
    width: calc(100% - 6px);
    height: calc(100vh - 250px)
}
.edit-form .submit-button {
    padding: 10px 20px;
    background-color: #ffffff;
    border: 1px solid #aaaaaa;
    margin-left: auto;
}
.edit-form .submit-button:hover {
    color: #0000ff;
    border: 1px solid #0000ff;
}

.page-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
}
.page-list a {
    display: block;
    border: none;
    background-color: #2b7cdf;
    color: #ffffff;
}
.page-list a:hover {
    background-color: #2bcdff;
    color: #ffffff;
    border: none;
}